<h2 mat-dialog-title>New Subject</h2>
<mat-dialog-content class="mat-typography">
  <form class="example-form">
    <div class="col-12">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Subject Name</mat-label>
        <input type="text" matInput
               placeholder="Ex. JavaScript">
      </mat-form-field>
    </div>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary">Save Subject</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
